{% extends 'base.html.twig' %}

{% block title %}Ajout de trick{% endblock %}

{% block body %}
    <style>
        .form-wrapper {
            display: flex;
            flex-direction: column;
            gap: 56px;
            padding-top: 32px;
        }
    </style>
    
    <div class="container-standard">
    <div class="form-wrapper">
    
        <h1 class="heading-1">Création d'un trick</h1>
        
        {{ form_start(form) }}
            {{form_row(form.name, {
                label: 'Nom du trick'
            })}}
            {{form_row(form.description, {
                label: 'Description du trick'
            })}}
            {{form_row(form.groupname, {
                label: 'Groupe du trick'
            })}}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}